/* layout.css */

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

main section {
  display: none;
  width: 100%;
}

main section.active {
  display: block;
}

#teams-container,
#favorites-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

@media (width <= 600px) {
  #teams-container,
  #favorites-container {
    grid-template-columns: 1fr;
  }
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#team-logo {
  max-height: 100px;
  margin-bottom: 10px;
}

#starting11-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between players */
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.player-jersey {
  font-weight: bold;
  font-size: 1.2em;
}

.player-name,
.player-position {
  margin-top: 5px;
}
